.button1 {
  border: none;
  background-color: #db1c48;
  border-radius: 18px;
  height: 30px;
  width: 90px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  padding: 4px 12px 4px 12px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
  outline: none;
}
.button2 {
  border: 1px solid #db1c48;
  background-color: #ffffff;
  border-radius: 18px;
  height: 30px;
  width: 90px;
  color: #db1c48;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  padding: 4px 12px 4px 12px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
  outline: none;
}
