* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: 500;
}
.button-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.image {
  width: 180px;
}
